/* @imports google fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/* variaveis */
:root {
  /* fontes */
  --robo: 'Roboto', sans-serif;
  --nuni: 'Nunito', sans-serif;

  /* cores */
  --white: #fafafa;
  --black: #3c3c3c;

  --acc1: #D35BFD;
  --acc2: #E75BFD;
  --acc3: #FBE1FF;
  --acc4: #FDED5B;
}

/* tipografia geral */
body {
  font-family: var(--robo);

  color: var(--black);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--nuni);
}

h1 {
  font-size: 2.75rem;
  font-weight: 800;
}

h2 {
  font-weight: 700;
}

label {
  font-family: var(--nuni);
  font-weight: 700;
}

.center {
  text-align: center;
}

.small {
  font-size: .75rem;

  font-style: italic;
}

/* tipografias especificas / accents */
.moldura-desc-titulo {
  display: inline-block;
  position: relative;
  z-index: 1;

  padding: 0 .5rem;
  margin-bottom: .2rem;

  color: var(--white);
  letter-spacing: 1.5px;

  /* color: var(--white);
  background-color: var(--acc1); */
  border-radius: 0 10px 10px 0;
}

.moldura-desc-titulo::after {
  content: '';

  position: absolute;
  left: 0;
  bottom: 10px;
  z-index: -1;

  width: 100%;
  height: .75rem;

  background-color: #FFCC0C;
  border-radius: 5px;
}

.moldura-desc-subt {
  color: var(--white);
  font-weight: 300;
  font-style: italic;
  letter-spacing: 2px;

  margin-bottom: 1.1rem;
}

.moldura-desc-texto {
  color: var(--white);
  line-height: 1.5;
  font-size: 1.12rem;
}

@media screen and (max-width: 800px) {
  .moldura-desc-texto {
    margin-bottom: 2rem;
  }
}